JAVA_HOME={{ payflow_java_home }}
JAVA_OPTS={{ payflow_java_opts }}
RUN_ARGS={{ payflow_run_args }}
server.port={{ payflow_server_port }}
BASE_URL={{ payflow_base_url }}
DB_PASSWORD={{ DB_PASSWORD }}
DB_USERNAME={{ payflow_db_username }}
DB_URL={{ payflow_db_url }}
API_KEY={{ API_KEY }}
ACTUATOR_API_KEY={{ ACTUATOR_API_KEY }}
